/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* common style */
body{
     font-family: 'Poppins', sans-serif;
     margin: 0;
}
/* Header Style */
.copa-container{
     background-color: rgb(18, 101, 209);
     width: 1340px;
     height: 700px;
     margin-bottom: 70px;
}
.copa{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     align-items: center;
     grid-column-gap: 102px;
     padding: 110px;

}
.copa-title{
     font-size: 65px;
     color: white;
}
.copa-banner img{
     Width: 556.01px;
     Height: 438px;
}
.copa-ancor{
     text-decoration: none;
     padding: 10px 30px;
     background-color: purple;
     color: white;
}
/* Players Article Styles */
.players{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-row-gap: 30px;
     grid-column-gap: 30px;
     margin-left: 80px;
     margin-bottom: 160px;
}
.player{
     background-color: #FFFFFF;
     width: 330px;
     height: 474px;
     border-radius: 10px;
     box-shadow: 1px 1px 5px gray;
}
.player-box{
     padding: 15px;
}
.player img{
     width: 300px;
     height: 256px;
}
.info{
     font-size: 12px;
     color: #6C6C6C;
}
/* Copa Hightlights Style */
.copa-highlights{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     align-items: center;
     padding-left: 80px;
     margin-bottom: 150px;
}
.hightlights-image img{
     width: 567px;
     height: 427px;
}
.highlights-details{
     width: 469px;
     height: 309px;
}
/* Footer Sytle */
.logo img{
     width: 450px;
     height: 110px;
     margin-left: 430px;
}
.icon{
     margin-left: 570px;
}
.fa-instagram{
     color: #969BAB;
     height: 50px;
     width: 50px;
}
.fa-facebook{
     height: 50px;
     width: 50px;
     color: #969BAB;
}
.fa-twitter-square{
     color: #969BAB;
     height: 50px;
     width: 50px;
}
.fa-youtube{
     color: #969BAB;
     height: 50px;
     width: 50px;
}
.copyright{
     margin-left: 550px;
     margin-top: -30px;
}
.all-footer{
     margin-bottom: 70px;
}
/* media query parts  */
/* Mobile Devices */
@media only screen and (max-width:688px){
     .copa-container, .copa{
          width: 100%;
          padding: 20px;
          grid-template-columns: repeat(1, 1fr);
          grid-row-gap: 40px;
     } 
     .copa img{
          width: 80%;
     }
     .copa-title{
          font-size: 40px;
     }
     .players{
          margin-left: 40px;
          grid-template-columns: repeat(1, 1fr);
          margin-bottom: 20px;
     }
     .copa-highlights{
          grid-template-columns: repeat(1, 1fr);
          padding-left: 40px;
     }
     .hightlights-image img{
          width: 328px;
          height: 248px;
          margin-top: 60px;
     }
     .highlights-details{
          width: 340px;
          height: 309px;
     }
     .logo img{
          width: 200px;
          height: 80px;
          margin-left: 100px;
     }
     .icon{
          margin-left: 160px;
     }
     .fa-instagram{
          color: #969BAB;
          height: 20px;
          width: 20px;
     }
     .fa-facebook{
          height: 20px;
          width: 20px;
          color: #969BAB;
     }
     .fa-twitter-square{
          color: #969BAB;
          height: 20px;
          width: 20px;
     }
     .fa-youtube{
          color: #969BAB;
          height: 20px;
          width: 20px;
     }
     .copyright{
          margin-left: 110px;
          margin-top: 10px;
     }
     .all-footer{
          margin-bottom: 10px;
          margin-top: -100px;
     }  
}
/* Tablet Devices */
@media only screen and (min-width: 688px) and (max-width: 992px) {
     .copa-container, .copa{
          width: 1070px;
          padding: 30px;
     }
     .players{
          margin-left: 40px;
          margin-bottom: 80px;
     }
     .copa-highlights{
          padding-left: 40px;
          grid-template-columns: repeat(3, 1fr);
          grid-column-gap: 10px;
     }
     .logo img{
          width: 300px;
          height: 130px;
          margin-left: 400px;
     }
     .icon{
          margin-left: 500px;
     }
     .fa-instagram{
          color: #969BAB;
          height: 40px;
          width: 40px;
     }
     .fa-facebook{
          height: 40px;
          width: 40px;
          color: #969BAB;
     }
     .fa-twitter-square{
          color: #969BAB;
          height: 40px;
          width: 40px;
     }
     .fa-youtube{
          color: #969BAB;
          height: 40px;
          width: 40px;
     }
     .copyright{
          margin-left: 470px;
     }
     .all-footer{
          margin-bottom: 20px;
          margin-top: -100px;
     } 
}